/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.main-menu.menu-light .navigation>li ul .active {
    background: linear-gradient( 118deg, #00bcd4, rgb(60 228 228 / 70%));
    box-shadow: 0 0 10px 1px rgb(103 234 240 / 70%);
    border-radius: 4px;
    z-index: 1;
}

a {
    color: #00bcd4;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #23c4bb;
    text-decoration: none;
    background-color: rgb(0 188 212 / 10%);
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background: linear-gradient( 45deg, #05bed5, #31ddd3);
}

.header-navbar .navbar-container ul.navbar-nav li i.ficon:hover,
.header-navbar .navbar-container ul.navbar-nav li svg.ficon:hover {
    color: #31c8bf;
}

.main-menu.menu-light .navigation>li.active>a {
    background: linear-gradient( 118deg, #06bed5, rgb(106 231 234));
    box-shadow: 0 0 10px 1px rgb(103 221 240 / 70%);
    color: #FFFFFF;
    font-weight: 400;
    border-radius: 4px;
}

.main-menu .shadow-bottom {
    margin-top: 0;
    filter: blur(0px);
    background: linear-gradient(#ffffffe3 3%, rgba(255, 255, 255, 0)100%);
}

.main-menu.menu-fixed.menu-accordion.menu-shadow.expanded.menu-dark .shadow-bottom {
    background: linear-gradient(#00000073 41%, rgb(0 0 0 / 11%) 95%, rgb(0 0 0 / 0%));
}

.main-menu.menu-dark .navigation {
    background: #003a3d;
}

.main-menu.menu-dark {
    color: #DCDCDC;
    background: #002f34;
}

.main-menu.menu-dark .navigation>li ul .active {
    background: linear-gradient( 118deg, #00bcd4, rgb(60 228 213 / 94%));
    box-shadow: 0 0 10px 1px rgb(103 234 240 / 70%);
    border-radius: 4px;
    z-index: 1;
}

.main-menu.menu-dark .navigation>li.open:not(.menu-item-closing)>a,
.main-menu.menu-dark .navigation>li.sidebar-group-active>a {
    color: #C3C3C3;
    background: #0c272a;
    border-radius: 6px;
}

.navbar-dark svg.feather.feather-sun.ficon {
    color: #ffeb3b !important;
}

.form-control {
    color: #6b7b7a;
    border: 1px solid #d6dede;
}

.form-control:focus {
    color: #6b7a7b;
    border-color: #04d5f0;
    outline: 0;
    box-shadow: 0 3px 10px 0 rgb(34 41 47 / 10%);
}

.input-group:not(.bootstrap-touchspin):focus-within .form-control,
.input-group:not(.bootstrap-touchspin):focus-within .input-group-text {
    border-color: #04d5f0;
    box-shadow: none;
}


/* .card {
    overflow: hidden;
} */

.table-responsive.responsive-overflow {
    overflow-x: inherit !important;
}

.nav-scroll-top {
    margin: 0 !important;
    width: calc(100vw - (100vw - 100%) - calc(2rem * 0) - 260px) !important;
    border-radius: 0 !important;
}